html,body{
background-color: #DCDCDC;
margin:0px;
text-align:left;
position: relative;
height: 100%;
width: 100%
}
#logo_container{
position:relative;
float:left;
width:20%;
border:0px;
}
#header_text_container{
position:relative;
float:right;
width:70%;
text-align: right;
border: 0px;
padding:30px 10px 0 0;
font-family: Arial ;
font-size: 10px;
}
#logo{
width: 70px;
height: 70px;
}
#top
{
background-color: #FFFFFF;
width: 100%;
height: 70px;
border: 1px solid  #708090;
vertical-align:baseline;
}
div.separator{
width: 20%;
position:relative;
float:left;
}
div#content{
width: 60%;
height: 80%;
position:relative;
float:left;
border: none;
overflow: auto;
padding: 10px 10px 10px 10px;
font-family: Verdana;
font-size: 10px;
}
div.entry{
width: 90%;
background-color:#FFFFFF;
border: 1px solid  #708090;
padding: 10px;
margin-bottom: 10px;
}
span.entry_date{
font-size: 8px;
}
h2.entry{
border-bottom: 1px solid #708090;
}
p.author{
padding-top:10px;
text-align: right;
}
p.comments{
padding-top:10px;
text-align:right;
font-size:9px;
}